@page "/counter"
@using System.Net.Http
@using Newtonsoft.Json

@inject HttpClient Http

<PageTitle>Chuck Norris Fact Search</PageTitle>

<h1>Search Facts</h1>



<form onsubmit="@Search">
    <label for="query">Enter search query:</label>
    <input id="query" type="text" @oninput="HandleInput" />
    <button type="submit">Search</button>
</form>

<pre>
    @response
</pre>

@code {
    string query = "";
    string response = "";

    async Task Search()
    {
        response = await Http.GetStringAsync($"https://api.chucknorris.io/jokes/search?query={query}");
    }

    void HandleInput(ChangeEventArgs e)
    {
        query = e.Value.ToString();
    }
}