@page "/fetchdata"
@using System.Net.Http
@using System.Text.Json
@using System.Collections.Generic
@inject HttpClient Http

<h1>List of Fact Categories</h1>

@if (categories == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var category in categories)
        {
            <li>@category</li>
        }
    </ul>
}

@code {
    List<string> categories = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("https://api.chucknorris.io/jokes/categories");
        categories = JsonSerializer.Deserialize<List<string>>(await response.Content.ReadAsStringAsync());
    }
}