@page "/"

@using Newtonsoft.Json

@inject HttpClient Http
<h1>JSON List</h1>

@if (jsonData != null)
{
<ul>
@foreach (var item in jsonData)
{
    <li>@item.icon_url </li>
    }
    </ul>
}

@code {
    private List<ApiResponse> jsonData;

    protected override async Task OnInitializedAsync()
    {
        // Make a HTTP GET request to the specified URL
        var response = await Http.GetAsync("https://api.chucknorris.io/jokes/random");

        // Read the response as a JSON object
        jsonData = JsonConvert.DeserializeObject<List<ApiResponse>>(await response.Content.ReadAsStringAsync());

    }


    // API response model
    public class ApiResponse
    {
        public object[] categories { get; set; }
        public string created_at { get; set; }
        public string icon_url { get; set; }
        public string id { get; set; }
        public string updated_at { get; set; }
        public string url { get; set; }
        public string value { get; set; }
    }
}